<!doctype html>
<html class="no-js">
<head>
    <title>Roster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true">
    {% load staticfiles %}
    {% load compress %}

    <link rel="stylesheet" type="text/css" href="{% static 'course_roster/vendor/css/bootstrap-3.3.1.min.css' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'course_roster/css/mobile.less' %}" media="screen, handheld" />
</head>
<body>
    <div id="wrapper" class="container" style="position:relative;">
        <div id="main-wrapper">
            <div id="main" aria-labelledby="course-roster-header">
               <div class="inner">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'course_roster/vendor/js/bootstrap-3.3.1.min.js' %}"></script>
    <script src="{% static 'course_roster/vendor/js/handlebars-1.0.0.min.js' %}"></script>
    <script src="{% static 'course_roster/vendor/js/moment.min.js' %}"></script>
    {% compress js %}
    <script src="{% static 'course_roster/js/main.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript">
        window.course_roster = {
            session_id: '{{ session_id }}',
            dummy_avatar: "{% static 'course_roster/img/dummy.png' %}"
        };
    </script>
</body>
</html>
