{% extends 'course_roster/base.html' %}

{% block content %}
<div class="course-roster-container">
    <h2 id="course-roster-header">Who's Who in {{course_name}}</h2>

    <div class="search-container">
        <input type="text" aria-label="Search people. As you type in this field, the list of people will be automatically filtered to only include those whose names match your input." placeholder="Search people" data-view="inputFilter" name="search_term"/>
    </div>

    <div class="container-fluid">
        <div id="thumbnail-grid" class="row"></div>
        <span class="loading"><i class="fa fa-spinner fa-spin"></i></span>
    </div>
</div>

{% include "handlebars/course_roster/thumbnail_grid.html" %}
{% endblock %}
