{% extends 'course_roster/base.html' %}

{% block content %}
<div class="container">
    <h2 id="course-roster-header">Who's Who in {{course_name}}</h2>

    <select id="role-filter" class="form-control input-sm" style="display: none; margin-left:10px" name="role" aria-controls="people-table" aria-label="Limit search to role">
        <option value="">All Roles</option>
    </select>

    <div id="thumbnail-grid" class="row"></div>
</div>

{% include "handlebars/course_roster/loading_people.html" %}
{% include "handlebars/course_roster/thumbnail_grid.html" %}
{% endblock %}
